modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["javascript_gemini_ai_integrations:2.0.0", "javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
ARCGIS_API_KEY = "AAPTaT5D4ShH-if4MVkg4fQhEcw..21IiXJnI-CEAADItwzqO3_ZHKQqyX1eEj3kwNhD80XwI4EdhHtRIK-bVKHQGk4OaXIJJYFMmBNqElSAmVUYCSr8ISmZd6Axz9-ESEKM3tmT4HynR9KoW2dVscYjf666DvKacCanP-oCTRa62Gk6yiurw_WWz4-qHOcPfFD1sxafLFQe4QCWmqvs44Ol5-kmQ-ekdtBhDSDgoDiKaanksHRv7p6a8gEpjC6InSYphgTst9m3JqjTenNKoAT1_0aQX2Yzb"
GEMINI_API_KEY = "AIzaSyBEcS7T1J2XurGYK7oUAs46Xb8wieg8Unk"
